<section class="you-sec">
    <div class="container">
        <div class="inner-helo">
            <h3>You Shop. We Give Back.</h3>
            <p>Milky Plant follows ethical and sustainable manufacturing best practices. With every purchase, we plant 5 trees, offset our carbon footprint and donate 1% to help the world's most pressing environmental issues. We designed an End of Life Program to re-purpose and upcycle all Milky Plant machine parts and create as little waste as possible.</p>
          
        </div>
        <div class="partner-flex">
            <div class="partner-width">
                <img src="images/about-for-the-planet 1.png">
                <span>1% for the<br>
                    planet</span>
            </div>
            <div class="partner-width">
                <img src="images/about-ecologi 1.png">
                <span>Ecologi</span>
            </div>
            <div class="partner-width">
                <img src="images/Unknown2 2.png">
                <span>Gluten Free</span>
            </div>
            <div class="partner-width">
                <img src="images/about-end-of-live 1.png">
                <span>End of Life<br>
                    Program
                    </span>
            </div>
        </div>
       
    </div>
</section>

{% schema %}
    {
        "name": "Give Back",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "inline_richtext",
                "id": "text",
                "label": "Text"
            }
        ],
        "blocks": [
            {
                "name": "Block",
                "type": "block",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Images"
                    }
                ]
            }
        ]
    }
{% endschema %}
