<div class="banenrWrapper2" style="background-image: url('./images/image\ 13.png');">
        <div class="container">
            <div class="inner-recp">
                <h1>About us</h1>
            </div>
        </div>
    </div>
    <section class="helo-sec">
        <div class="container">
            <div class="inner-helo">
                <h3>Hello we are Nadina, and Michael,<br> the founders of Milky Plant.</h3>
                <p>We wanted to share with you the story behind our product and why we're revolutionizing the way we drink plant-based milk at home. Our idea for the Milky Plant comes after years of searching for clean and healthy plant-based milk. Most options found in grocery stores are filled with all kinds of additives and preservatives. The worst part is, they claim to be all-natural. A few years ago, I was diagnosed with high cholesterol and wanted to make healthy changes to my diet. But I quickly realised that everyday plant-based milks weren’t as natural or healthy as they claimed to be. Store-bought plant-based milk is high in saturated fat, additives, preservatives. None of it was actually healthy.</p>
                <p>
                    So we set out to create delicious and nutritious plant-based milk in the easiest and most convenient way - at home. This way, you know exactly what goes into the milk you drink, so you know it’s good for you. Our mission is to make plant-based milk in minutes without the fuss, with no additives, no mess in the greenest way possible. Every time you drink a glass of Milky Plant milk, you’ll know that it’s good for you and good for the planet.</p>
            </div>

        </div>
    </section>