<div class="fourcols">
  <div class="holder">
    {% for feature in product.metafields.custom.product_features.value %}
      {% if feature != blank %}
        <div class="col">
          <div class="img-holder">{% render 'responsive-image', image: feature.feature_image.value %}</div>
          <strong>{{ feature.feature.value }}</strong>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Product Features",
    "settings": []
  }
{% endschema %}