<div class="fourcols">
    <div class="holder">
        <div class="col">
            <div class="img-holder"><img src="images/ico1.png"></div>
            <strong>Certified Organic</strong>
        </div>
        <div class="col">
            <div class="img-holder"><img src="images/ico2.png"></div>
            <strong>Vegan</strong>
        </div>
        <div class="col">
            <div class="img-holder"><img src="images/ico3.png"></div>
            <strong>Gluten Free</strong>
        </div>
        <div class="col">
            <div class="img-holder"><img src="images/ico4.png"></div>
            <strong>No artificial Sweeteners</strong>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Product Features",
        "settings": []
    }
{% endschema %}