<div class="impact" style="background-image: url('./images/21.png');">
  <div class="container">
    <img src="./images/9.png">
    <h2>Our Impact</h2>
    <div class="paraWrapper">
      <img src="./images/10.png">
      <div class="parWrapper">
        <p>We donate 1% of all our proceeds to the world’s most pressing environmental and social issues such as deforestation , renewable energy creation and so much more.</p>
        <p>We have planted over 10,000 trees to help the fight against climate change.</p>
      </div>
    </div>
  </div>
</div>