<div class="productsSection">
  <div class="container">
    <h2>Products</h2>
    <div class="containerProducts">
      <div class="wrapperProducts">
        <div class="products">
          <div class="imageWrapepr">
            <img src="./images/6.png">
          </div>
          <div class="contentWrapperProduct">
            <h4>Milky Plant</h4>
            <p>Fresh milk at your fingertips.</p>
            <div class="buttonBuyNow">
              <button>
                buy now
                <span class="plusSignBuyNow">
                  <span>+</span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="products">
          <div class="imageWrapepr">
            <img src="./images/6.png">
          </div>
          <div class="contentWrapperProduct">
            <h4>Milky Plant</h4>
            <p>Fresh milk at your fingertips.</p>
            <div class="buttonBuyNow">
              <button>
                buy now
                <span class="plusSignBuyNow">
                  <span>+</span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="products">
          <div class="imageWrapepr">
            <img src="./images/6.png">
          </div>
          <div class="contentWrapperProduct">
            <h4>Milky Plant</h4>
            <p>Fresh milk at your fingertips.</p>
            <div class="buttonBuyNow">
              <button>
                buy now
                <span class="plusSignBuyNow">
                  <span>+</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>