<div class="recipie" style="background-image: url('./images/17.png');">
  <h2>Recipes</h2>
  <div class="sliderWrapper">
    <div class="slideContainer">
      <a href="#">
        <div class="innerSlideContainer">
          <img src="./images/7.png">
          <h5>Homemade Almond Milk & Chocolate Chip Cookie</h5>
        </div>
      </a>
    </div>
    <div class="slideContainer">
      <a href="#">
        <div class="innerSlideContainer">
          <img src="./images/7.png">
          <h5>Homemade Almond Milk & Chocolate Chip Cookie</h5>
        </div>
      </a>
    </div>
    <div class="slideContainer">
      <a href="#">
        <div class="innerSlideContainer">
          <img src="./images/7.png">
          <h5>Homemade Almond Milk & Chocolate Chip Cookie</h5>
        </div>
      </a>
    </div>
    <div class="slideContainer">
      <a href="#">
        <div class="innerSlideContainer">
          <img src="./images/7.png">
          <h5>Homemade Almond Milk & Chocolate Chip Cookie</h5>
        </div>
      </a>
    </div>
    <div class="slideContainer">
      <a href="#">
        <div class="innerSlideContainer">
          <img src="./images/7.png">
          <h5>Homemade Almond Milk & Chocolate Chip Cookie</h5>
        </div>
      </a>
    </div>
    <div class="slideContainer">
      <a href="#">
        <div class="innerSlideContainer">
          <img src="./images/7.png">
          <h5>Homemade Almond Milk & Chocolate Chip Cookie</h5>
        </div>
      </a>
    </div>
  </div>
  <a href="#">read recipes</a>
</div>