    <div class="asseenOn">
        <div class="container">
            <h2>As seen on</h2>
            <div class="sliderContainerAssenOn">
                <div class="slideWrapepr">
                    <img src="./images/8.png">
                    <img src="./images/18.png">
                    <img src="./images/19.png">
                    <img src="./images/20.png">
                </div>
            </div>
        </div>
    </div>