<div class="impact" style="background-image: url('{{ section.settings.background_image | image_url : width : section.settings.background_image.width }}');">
  <div class="container">
    <img src="./images/9.png">
    <h2>Our Impact</h2>
    <div class="paraWrapper">
      <img src="./images/10.png">
      <div class="parWrapper">
        <p>We donate 1% of all our proceeds to the world’s most pressing environmental and social issues such as deforestation , renewable energy creation and so much more.</p>
        <p>We have planted over 10,000 trees to help the fight against climate change.</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Impact",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Milky Plant"
      },
      {
        "type": "richtext",
        "id": "info",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      }, {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "Impact"
      }
    ]
  }
{% endschema %}