<div class="sustainlibilty">
  <div class="ccontainer">
    <h2>
      Sustainability
    </h2>

    <img
      src="images/recycling-program-1.png"
      alt="#"
      class="img-fluid mx-auto sustain-img-block">
    <p>
      At Milky Plant, we are committed to creating new ways to design, produce and innovate. Our products will no longer be seen as waste at their end of life, but rather as sources of valuable resources for new products. We offer a free end-of-life recycling program for all of our customers. If you're ready to part ways with your Milky Plant machine, we will receive it, reuse and upcycle all of Milky Plant parts.
    </p>
    <div class="rabbitContainer">
      <div class="col">
        <img src="./images/12.png">
        <p>Designed with love in the U.K.</p>
      </div>
      <div class="col">
        <img src="./images/13.png">
        <p>Ethical manufacturing</p>
      </div>
    </div>
  </div>
</div>