<div class="selfCleaning">
  <div class="container">
    <div class="selfCleaningContent">
      <img src="./images/35.png">
      <div class="contentWrapperSelfCleaning">
        <h2>Self-Cleaning</h2>
        <p>No need to spend any time cleaning the machine, just add water and push the button it will start the cleaning function.</p>
        <a href='#'>buy now</a>
      </div>
    </div>
  </div>
</div>