<div class="usThem">
    <div class="container">
        <div class="usThemContent">
            <h2>Us vs Them</h2>

            <div class="usThemContentItems">
                <div class="usThemContentItem">
                    <img src="./images/25.png" alt="">
                    <p>No straining required Makes milk in less than 3 minutes Self-cleaning function We look so much cooler and more compact Insane quality of milk</p>
                </div>
                <div class="usThemContentItem">
                    <img src="./images/diff-them 1.png" alt="">
                    <p>Time-consuming prep with pre-soaking of nuts overnight Takes around 15+ minutes Nut bag squeezing Bulky and looks out of place</p>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1675884159">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</div>


<div class="bottomImg">
    <img src="./images/bottom-img.png" alt="">
</div>