<div class="jhanda">
  {% render 'responsive-image', image: section.settings.image %}
  <p>
    {{ section.settings.shipping_text }}
  </p>
</div>

{% schema %}
  {
    "name": "Shipping",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "shipping_text",
        "label": "Shipping Text",
        "default": "free Shipping to UK / USA / EU with taxes included"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}