<div class="howToUse">
    <div class="container">
        <h2>How to Use Milky Plant</h2>
        <div class="rowWrapper">
            <div class="colWrapper">
                <img src="./images/31.png">
                <h4>Add Ingredients</h4>
                <p>Add ingredients to the container up until the MIN line</p>
            </div>
            <div class="colWrapper">
                <img src="./images/32.png">
                <h4>Add Water</h4>
                <p>Fill up the Milky Plant water tank witth clean water</p>
            </div>
            <div class="colWrapper">
                <img src="./images/33.png">
                <h4>Press & Enjoy</h4>
                <p>Just press the button, let Milky Plant work its magic, and enjoy!</p>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1675884159">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</div>