<div class="gradientColor">
  <div class="driedPulp">
    <div class="container">
      <div class="containerRow">
        <div class="colleftDried">
          <h2>Dried pulp</h2>
          <p>The Milky Plant makes dried pulp from the ingredients used to make your milk. The ptulp can be used for cooking , baking or even compost for plants.</p>
          <a href="#">shop now</a>
        </div>
        <img src="./images/37.png">
      </div>
    </div>
  </div>
  <div class="priceComparison">
    <div class="container">
      <div class="priceComparisonContent">
        <h2>Price Comparison</h2>
        <h4>Price per litter</h4>

        <div class="priceComparisonItems">
          <div class="priceComparisonItem">
            <img src="./images/39.png" alt="">
            <h4>Almond milk</h4>
            <div class="salePriceBadge">
              <span>-66%</span>
            </div>
          </div>
          <div class="priceComparisonItem">
            <img src="./images/40.png" alt="">
            <h4>Oat milk</h4>
            <div class="salePriceBadge">
              <span>-94%</span>
            </div>
          </div>
          <div class="priceComparisonItem">
            <img src="./images/41.png" alt="">
            <h4>Cashew milk</h4>
            <div class="salePriceBadge">
              <span>-68%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Price Comparison",
    "settings": [
      {
        "type": "header",
        "content": "Ingredient"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "inline_richtext",
        "id": "info",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "header",
        "content": "Price Comparison"
      }, {
        "type": "text",
        "id": "heading_comparison",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      }
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "block",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }, {
            "type": "text",
            "id": "difference",
            "label": "Difference Percentage"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}